.checkout-form {
    float: right;
    width: 50%;
}
.item-info {
    float: left;
    width: 50%;
}
.line {
    border-bottom: 1px #ddd solid;
}
.label {
    font-size: 16px;
    font-weight: bold;
}
.checkout-body {
    overflow: auto;
    height: 100%;
}
.checkout-history {
	display: block;
    width: 100%;
    overflow: auto;
}
.table > tbody > tr > td {
    text-align: left;
}
.form-button {
    padding-top: 15px;
}
.inline-span {
    float: right;
}
