{% extends 'templates/admin.twig' %}

{% block title %}Add Merit Badges{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container">
            <h2 class="page-header">Add Merit Badges</h2>
            <div class="form">
                <form action="{{ urlFor('admin.badges.add.post') }}" method="POST" role="form">
                    <div class="form-group">
                        <label for="inputName" class="sr-only">Badge Name</label>
                        <input type="text" id="inputName" class="form-control" name="inputName" placeholder="Badge Name" required autofocus>
                    </div>
                    <div class="form-group" style="overflow: auto;">
                        <h4 style="float: left;">Requirement #1</h4>
                    </div>
                    <div class="form-group" style="overflow: auto;">
                        <span style="float: left;">Do <span><select class="form-control" style="width: 100px; display: inline;">
                            <option value="all" selected="">All</option>
                            <option value="all">One</option>
                            <option value="all">Two</option>
                            <option value="all">Three</option>
                        </select></span> of the following</span>
                        <button type="button" id="add-req" class="btn btn-success" style="float: right;"><span class="glyphicon glyphicon-plus"></span> Add Requirement</button>
                    </div>
                    <div class="form-group req">
                        <label for="inputReq" class="sr-only">Requirements</label>
                        <input type="text" id="inputReq" class="form-control" name="inputReq" placeholder="Requirement #1" required>
                    </div>

                    <div class="form-group" style="overflow: auto;">
                        <h4 style="float: left;">Requirement #2</h4>
                    </div>
                    <div class="form-group" style="overflow: auto;">
                        <span style="float: left;">Do <span><select class="form-control" style="width: 100px; display: inline;">
                            <option value="all" selected="">All</option>
                            <option value="all">One</option>
                            <option value="all">Two</option>
                            <option value="all">Three</option>
                        </select></span> of the following</span>
                        <button type="button" id="add-req" class="btn btn-success" style="float: right;"><span class="glyphicon glyphicon-plus"></span> Add Requirement</button>
                    </div>
                    <div class="form-group req">
                        <label for="inputReq" class="sr-only">Requirements</label>
                        <input type="text" id="inputReq" class="form-control" name="inputReq" placeholder="Requirement #1" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url.base }}/js/admin/badges/add.js"></script>
{% endblock %}
