html {
    min-height: 100%;
    position: relative;
    background-color: #333;
}
body {
    margin-bottom: 160px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.footer {
    bottom: 0;
    height: 160px;
    position: absolute;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    padding: 30px;
}
body > .container {
    padding: 30px 15px 0;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
a, a:focus, a:hover {
    color: #fff;
}
.navbar {
    background-color: #333;
}
.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    font-weight: bold;
    padding: 10px 20px;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    border-bottom-color: #fff;
    color: #fff;
}
.btn-default, .btn-default:hover, .btn-default:focus {
    background-color: #fff;
    border: 1px solid #fff;
    color: #333;
    text-shadow: none;
}
.navbar-right > li > a {
    border-bottom: 2px solid transparent;
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    font-weight: bold;
}
.navbar-right > li > a:hover, .navbar-right > li > a:focus {
    background-color: transparent;
    border-bottom-color: rgba(255, 255, 255, 0.25);
}
.navbar-right > .active > a, .navbar-right > .active > a:hover, .navbar-right > .active > a:focus {
    border-bottom-color: #fff;
    color: #fff;
}
.navbar-right > li {
    display: inline-block;
}
.navbar-brand {
	font-size: 28px;
}
.green {
    color: forestgreen;
}
.red {
    color: red;
}
