* {
  border-radius: 0 !important;
}

.navbar-inverse { 
    background-color: #222222;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
    background-color: 1080808;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { 
    background-color: #6CE766;
}

.dropdown-menu { 
    background-color: #FFFFFF;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
    background-color: #428BCA;
}

.navbar-inverse { 
    background-image: none; 
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
    background-image: none; 
}

.navbar-inverse { 
    border-color: 1080808;
}

.navbar-inverse .navbar-brand { 
    color: #999999;
}

.navbar-inverse .navbar-brand:hover { 
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a { 
    color: #999999;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { 
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { 
    color: #FFFFFF;
}

.dropdown-menu>li>a { 
    color: #333333;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { 
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret { 
    border-top-color: #999999;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
    border-top-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret { 
    border-bottom-color: #999999;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { 
    border-bottom-color: #FFFFFF;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.navbar-brand {
    padding: 0px 0px 0px 0px;
    padding-left: 15px;
    padding-right: 5px;
    width: 300px;
    height: 50px
}

.img-responsive {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}

.padding-left {
    padding-left: 7px;
}

.footer-main {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    background-color: #6CE766;
    padding: 10px 0 60px;
    border-top: 3px solid #448144;
}

.no_load {
    padding-left: 5px;
    padding-top: 5px;
    background-color: #D9534F;
    border-bottom: 3px solid #82322F;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin-bottom: 155px;
}



