<footer class="footer">
    <h5>Running {{ app.name }} version {{ app.version }} by {{ app.author }}</h5>
    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <h5>© 2015 Alex Young. Source Code is licensed under the <a href="https://github.com/meun5/badge-tracker/blob/master/LICENSE">GNU General Public License v2.0</a></h5>
    <h5>This is a non finalized build. Apperance may differ from later builds.</h5>
</footer>
