/**
 * Globals
 */

$body-bg-color: #edeff0;
$body-text-color: #222;
$body-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 100%;
$body-line-height: 150%;

$link-color: #000;
$link-weight: 600;

/**
 * Colors
 */

$success-color: #4cae4c;
$error-color: #d9534f;

/**
 * Admin Globals
 */
$ad-body-bg-color: #252830;
$ad-body-text-color: #CFD2DA;