{% extends 'templates/admin.twig' %}

{% block title %}Site Settings{% endblock %}

{% block content %}
<div class="container">
    {% set v = 0 %}
    {% for key, i in settings %}
        <div>
            <p class="page-header">{{ key|capitalize }}</p>
            {% set x = 0 %}
            {% for sub, i in settings[key] %}
                <p class="item"><span>{{ sub|capitalize }}:</span> {{ settings[key][sub] }}</p>
            {% set x = x + 1%}
            {% endfor %}
        </div>
    {% set v = v + 1 %}
    {% endfor %}
    {{dump(settings)}}
</div>
{% endblock %}

{% block styles %}
<link type="text/css" href="css/admin/sites/settings.css" rel="stylesheet">
{% endblock %}
