body {
    padding-top: 55px;
    font-family: $body-font-family;
    background-color: $body-bg-color;
    color: $body-text-color;
    line-height: $body-line-height;
    margin: 0;
    text-align: center;
}