<footer id="disclaimer" class="main">
	<div class="col-lg-4 pull-left" style="text-align: left;">
		<h5>Disclaimer: This is a unfinished build.</h5>
		<h5>Running Gear Tracker Lite (Tent Tracker)</h5>
		<h5>Build Version 1.0.1</h5>
	</div>
	<div class="col-lg-4 pull-right" style="text-align: right;">
		<h5>Licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a></h5>
		<h5>Written with care by Alexander Young and Jack Sielman</h5>
		<h5>Remote Address: {{ url.remote }}</h5>
	</div>
</footer>