{% extends 'templates/default.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="inner cover">
    <img class="site-brand" src="images/brand.jpg" height="180px" width="180px">
    <h1 class="cover-heading">Troop 43</h1>
</div>
{% endblock %}

{% block styles %}
<link type="text/css" href="/css/home.css" rel="stylesheet">
{% endblock %}
